.body {
  padding-top: 70px;
  background-image: url(/static/images/climpek_@2X.png);
  font-family: Raleway;
}

.style{
  border-top: 1px white solid;
}

.login{
  float: right;
}

.main{
  padding: 0;
}

.main-content {
  padding: 40px 15px;
  text-align: center;
}

.maincontent .container{
  width: 100%;
}

.logo{
	height: 40px;
	margin-top: -9px;
}

.body h1{
	font-size: 40px;
}

.maincontent{
  background-color:#fff;
  padding: 20px;
  margin-top: 50px;
}

/*.container_main{
	background-color: #fff;
	padding: 20px;
}*/

.addto{
  background-color: #e3e3e3;
}

.addto .btn{
  padding: 2px 8px;
}

.addto #team_selector{
  margin-top: 7px;
}

.hr{
  border-top: 1px solid #333;
}

#footer {
  text-align: center;
  margin-bottom: 25px;
}

div.team_list td {
	padding: 5px;
}

td {
	margin: 3px;
}

.text-disabled {
    font-style: italic;
    color: #727272;
}

nav#admin{
    background-color: #EC0000;
    border-color: #ffffff;
}