.body {
  padding-top: 70px;
  background-image: url(/static/images/climpek_@2X.png);
  font-family: Raleway;
}

.grey-wrapper{
  background-color: #2f2f2f;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul .nobullet{
  list-style-type: none;
}

.login{
  float: right;
}

.leaguename{
  float: right;
}

.nav li{
  height: 50px;
}

.main{
  padding: 0;
}

.main-content {
  padding: 40px 15px;
  text-align: center;
}

.maincontent .container{
  width: 100%;
}

.logo{
	height: 40px;
	margin-top: -9px;
}

.body h1{
	font-size: 40px;
}

.maincontent{
  background-color:#fff;
  padding: 20px;
  margin-top: 50px;
}

/*.container_main{
	background-color: #fff;
	padding: 20px;
}*/

.addto{
  background-color: #e3e3e3;
  padding: 15px;
  border: #bdbdbd 1.5px solid;
}

.addto .btn{
  padding: 2px 8px;
}

.addto #team_selector{
  margin-top: 7px;
  padding-bottom: 7px;
}

.hr{
  border-top: 1px solid #333;
}

#footer {
  text-align: center;
  margin-bottom: 25px;
}

div.team_list td {
	padding: 5px;
}

td {
	margin: 3px;
}

.text-disabled {
    font-style: italic;
    color: #727272;
}

nav#admin{
    background-color: #428bca;
    border-bottom: #d43f3a 3px solid;
}

div.nopad {
    padding: 0 0 0 0;
}

div#navbar{
    width: 100%;
}