{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
	<h1>About</h1>
	<p>I'm a high school junior from FRC team 3546, the Buc 'n' Gears. The idea for this program came up when the team was joking around one day. Before long, we found the cheif delphi thread; yet I wasn't satisfied with the intensive procedures that the adminstrators of that have to endure. I love programming, I want to devote my life to it. This was the first major project that I've attempted and so far, I'm very happy with the results.</p>
	<h1>Contact</h1>
	<p>The best way to reach me with any questions is by email. I can be reached at: <a href="mailto:Fantasy.first.frc@gmail.com">Fantasy.FIRST.FRC@gmail.com</a></p>
</div>
{% endblock %}