{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
	
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/allianceManagement/viewAlliance">View Alliance</a></li>
		<li class="active">Week {{ week_number }}</li>
	</ol>

	<nav>
	  <ul class="pager">
	  	{% if week_number == 1 %}
	  		<li class="previous disabled"><a href="">&larr; Previous Week</a></li>
	    {% else %}
	    	<li class="previous">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number - 1 }}">&larr; Previous Week</a>
	  		</li>
	    {% endif %}
	    {% if week_number == 6 %}
	   		<li class="next disabled"><a href="">Next Week &rarr;</a></li>
	    {% else %}
	    	<li class="next">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number + 1 }}">Next Week &rarr;</a>
	    	</li>
	    {% endif %}
	  </ul>
	</nav>

	<h1>View Alliance</h1>
    {% if opponent_name == "" %}
        <div class="alert alert-warning">
            <b>Note:</b> This is is a bye week for you, you may pick active teams, and they will be scored, but you will not earn any league points for this week.
        </div>
    {% endif %}
	<div id="team_list">
			{% for list in team_listss[0] %}
			{% set listloop = loop %}
			<h2>{% if listloop.first %}
				Alliance Lineup:
				{% else %}
				Bench:
				{% endif %}
			</h2>
			{% if list %}
				<table class="table">
				<tr><td>Team</td><td>Swap Action</td><td>Drop</td><td>Points to Date</td></tr>
				{% for team in list %}
				<tr>
					<td>
						<a href="/allianceManagement/teamDetail/{{team.number}}">{{ team.number }}</a>
					</td>
					<td>
						{% if listloop.first %}
						<a href="/allianceManagement/updateLineup/{{ week_number }}?action=bench&team_number={{ team.number }}">
						<img src="/static/icons/arrow_refresh.png" alt="Bench Team"/> Bench</a>
						{% else %}
						<a href="/allianceManagement/updateLineup/{{ week_number }}?action=putin&team_number={{ team.number }}">
						<img src="/static/icons/arrow_refresh.png" alt="Put Team In"/> Add to Lineup</a>
						{% endif %}
					</td>
					<td>
                        {% if team.disabled == 'True' %}
                         <a class="category-tooltip" href="" data-toggle="tooltip"
								data-original-title="This team is unable to be dropped because of its presence in the top 5">
                             <img src="/static/icons/lock.png" alt="Team Locked"/></a>
                            <span href="" class="text-disabled"> Drop</span>
                        {% else %}
                            <a href="#"  data-toggle="modal" data-target="#drop_team_modal_{{ team.number }}">
                            <img src="/static/icons/delete.png" alt="Drop Team"/> Drop</a>
                        {% endif %}
					</td>
					<td>
						<a href="/allianceManagement/teamDetail/{{ team.number }}#pointbreakdown">{{ team.total_points }}</a>
					</td>
				</tr>
				{% endfor %}
				</table>
			{% else %}
				<p>No teams in this list</p>
			{% endif %}	
			{% endfor %}
			<h2>Other options:</h2>
			<a href="/draft/freeAgentList/">Pick up free agent</a>
	</div>
	<nav>
	  <ul class="pager">
	  	{% if week_number == 1 %}
	  		<li class="previous disabled"><a href="">&larr; Previous Week</a></li>
	    {% else %}
	    	<li class="previous">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number - 1 }}">&larr; Previous Week</a>
	  		</li>
	    {% endif %}
	    {% if week_number == 6 %}
	   		<li class="next disabled"><a href="">Next Week &rarr;</a></li>
	    {% else %}
	    	<li class="next">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number + 1 }}">Next Week &rarr;</a>
	    	</li>
	    {% endif %}
	  </ul>
	</nav>
</div>

    {% for list in team_listss[0] %}
        {% for team in list %}
            <!-- drop_team_modals -->
            <div id="drop_team_modal_{{ team.number }}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title">Woah, Careful now&hellip;</h4>
                    </div>
                    <div class="modal-body">
                      <p>Dropping a team is a serious decision. This will remove this team from your roster. You will <b>not</b> earn points in the future from dropped teams.
                          <i>Points scored for this team in past weeks will remain</i>
                      </p>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a role="button" href="/allianceManagement/updateLineup/{{ week_number }}?action=drop&team_number={{ team.number }}" class="btn btn-primary btn-danger">Drop Team</a>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $(".category-tooltip").tooltip({
        placement : 'left'
    });
});
</script>
{% endblock %}