{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
	<h1>Manage Team</h1>
	<div id="team_list">
			<h2>Alliance Lineup:</h2>
			<table class="table">
			<tr><td>Team</td></tr>
			{% for team in lineup %}
			<tr>
				<td>
					<a href="teamDetail/{{team.number}}">{{ team.number }}</a>
				</td>
				<td>
					<a href="/allianceManagement/updateLineup?action=bench&team_number={{ team.number }}">
					<img src="/static/icons/arrow_refresh.png" alt="Move Down"/> Bench</a>
				</td>
				<td>
					<a href="/allianceManagement/updateLineup?action=drop&team_number={{ team.number }}">
					<img src="/static/icons/delete.png" alt="Drop Team"/> Drop</a>
				</td>
			</tr>
			{% endfor %}
			</table>
			<h2>Bench:</h2>
			<table class="table">
			<tr><td>Team</td></tr>
			{% for team in bench %}
			<tr>
				<td>
					<a href="teamDetail/{{team}}">{{ team }}</a>
				</td>
				<td>
					<a href="/allianceManagement/updateLineup?action=putin&team_number={{ team }}">
					<img src="/static/icons/arrow_refresh.png" alt="Move Up"/> Add to Lineup</a>
				</td>
				<td>
					<a href="/allianceManagement/updateLineup?action=drop&team_number={{ team }}">
					<img src="/static/icons/delete.png" alt="Drop Team"/> Drop</a>
				</td>
			</tr>
			{% endfor %}
			</table>
			<a href="/pickUp/">Pick up free agent</a>
	</div>
</div>
{% endblock %}