{% extends "/templates/base.html" %}
{% block content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
    <li><a href="/leagueManagement/showLeagues">Join a League</a></li>
		<li class="active">Create League</li>
	</ol>

	<h3>Create a league</h3>
	<div id="team_selector">
		<p>{{ update_text }}</p>
		<form action="/leagueManagement/updateLeague" method="post">
            <p>
                League Name:
                <input type="text" value="{{ user }}'s League" name="name" size="40">
            </p>
            <p>
                Snake Draft? <input type="checkbox" name="snake_draft">
            </p>
            <p>
                {% if league_name != "" %}
                    <button id="create_league" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_league_modal">Create</button>
                {% else %}
                    <button type="submit"  class="btn btn-primary">Create</button>
                {% endif %}
            </p>
            <!-- create_league_modal -->
            <div id="create_league_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title">Woah, Careful now&hellip;</h4>
                    </div>
                    <div class="modal-body">
                      <p>If you leave this league and the draft begins while you are not present, you will <b>not</b> be able to join again. Additionally, be aware of other things such as changed passwords and maximum league capacities that would prevent you from re-joining. Leaving a league is not recommended unless you would like to leave for good. Additionally, if you are the last person in this league or the league commissioner(creator of the league) then it will be automatically deleted after you leave.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary btn-danger">Leave League</button>
                  </div>
                </div>
              </div>
            </div>

		</form>
	</div>
</div>
{% endblock %}
