{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Draft{% endblock %}

{% block head_javascript %}
    <style type="text/css">
      #map-canvas { height: 500px; margin: 0; padding: 0;}

      .info_window{
          text-align: center;
          width: 200px;
      }

      .gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {
          max-height: 280px;
          padding: 0px 10px 5px 5px;
          overflow-y: visible;
          overflow-x: visible;
        }
      .gm-style-iw div {
          overflow:visible !important;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1lAO7OI1bwwzvTvTQXJg5WSx2x2QQo6E">
    </script>
    <script type="text/javascript" src="/static/js/markerclusterer.js"></script>
    <script type="text/javascript">var team_map_data = '{{ team_map_data|safe }}';</script>
    <script type="text/javascript">
      function initialize() {
        var center = new google.maps.LatLng(32.5066815,-63.4064068)
        var mapOptions = {
          center: center,
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var infowindow = new google.maps.InfoWindow();

        var markers = [];
        var obj_data = jQuery.parseJSON(team_map_data);
        for (var i= 0; i < obj_data.data.length; i++){
            var latLng = new google.maps.LatLng(obj_data.data[i].lat,obj_data.data[i].lon)
            var marker = new google.maps.Marker({
                position: latLng
            });
            markers.push(marker);
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent('<div class="info_window"> <a href="#teamPicker" onclick="fill_input(' + obj_data.data[i].number + ')">'  + obj_data.data[i].number + "-" + obj_data.data[i].name + '</a></div>');
                  infowindow.open(map, marker);
                }
            })(marker, i));
        }
        var markerClusterer = new MarkerClusterer(map, markers);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      function fill_input(team) {
            document.getElementById("team_input").value = team;
            document.getElementById("team_input").defaultValue = team;
        }
    </script>
{% endblock %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Draft</li>
	</ol>


	<div id="draft_display">
		<h2>Draft Board:</h2>
		<h3>
			{% if draft_status == "Mid" %}
				Time remaining for {% if users_turn %}you{% else %}{{ picking_user }}{% endif %}: <span id="countdown"></span>
			{% elif draft_status == "Post"  %}
				<i>Final Results - <a href="/allianceManagement/viewAlliance">Manage Alliance</a></i>
			{% elif draft_status == "Pre" %}
				<i>Draft has not yet begun - Tell your commissioner to <a href="/draft/startDraft">start the draft</a>.</i><br/><br/>
			    <i>The commissioner may also want to <a href="/leagueManagement/manageLeague">edit</a> the league settings</i>
            {% endif %}
		</h3>
		<table class="table">
		<th>
		{% for player in player_list %}
			<td>{{ player }}</td>
		{% endfor %}
		</th>
		{% for round in draft_board %}
		<tr>
			<td>Round {{ loop.index }}</td>
			{% for pick in round %}
				<td>{% autoescape false %}
					{% if pick != "<i>TBD</i>" and pick != "<i>Forfeited</i>" %}
						<a href="/allianceManagement/teamDetail/{{ pick }}">
							{{ pick }}
						</a>
					{% else %}
						{{ pick }}
					{% endif %}
				{% endautoescape %}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table>
	</div>
    {% if users_turn %}
    <div id="team_selector">
        <h2>Pick Team:</h2>
        <p>It's your turn to make a selection</p>
        <div id="map-canvas"></div>
            <a name="teamPicker"></a>
            <p>{{ update_text }}</p>
            <form action="/draft/submitPick" method="post">
                Team Number:
                <input id="team_input" type="text" value="" name="team">
                <input type="submit" value="Submit">
            </form>
        </div>
	{% endif %}
</div>
{% endblock %}

{% block inline_javascript %}
	<script>
		// set the date we're counting down to
		var target = Number("{{ current_unix_timeout }}");
		var fifteen_refresh = "{{ users_turn }}".toLowerCase() == 'false'
		var draft_active = ("{{ picking_user }}" != "")
		setInterval(function () {
			if (fifteen_refresh && draft_active) {
				location.replace("/draft/");
			}
		}, 15000);
	</script>
	<script src="/static/js/timer.js"></script>
{% endblock %}