{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Draft{% endblock %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Draft</li>
	</ol>


	<div id="draft_display">
		<h2>Draft Board:</h2>
		<h2>
			{% if draft_status == "Mid" %}
				Time remaining for {% if users_turn %}you{% else %}{{ picking_user }}{% endif %}: <span id="countdown"></span>
			{% elif draft_status == "Post"  %}
				<i>Final Results - <a href="/allianceManagement/viewAlliance">Manage Alliance</a></i>
			{% elif draft_status == "Pre" %}
				<i>Draft has not yet begun - Tell your commissioner to <a href="/draft/startDraft">start the draft</a></i>
			{% endif %}
		</h2>
		<table class="table">
		<th>
		{% for player in player_list %}
			<td>{{ player }}</td>
		{% endfor %}
		</th>
		{% for round in draft_board %}
		<tr>
			<td>Round {{ loop.index }}</td>
			{% for pick in round %}
				<td>{% autoescape false %}
					{% if pick != "<i>TBD</i>" and pick != "<i>Forfeited</i>" %}
						<a href="/allianceManagement/teamDetail/{{ pick }}">
							{{ pick }}
						</a>
					{% else %}
						{{ pick }}
					{% endif %}
				{% endautoescape %}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table>
	</div>
	{% if users_turn %}
	<div id="team_selector">
		<p>It's your turn to make a selection</p>
		<h2>Pick Team:</h2>
		<p>{{ update_text }}</p>
		<form action="/draft/submitPick" method="post">
			Team Number:
			<input type="text" value="" name="team">
			<input type="submit" value="Submit">
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block inline_javascript %}
	<script>
		// set the date we're counting down to
		var target = Number("{{ current_unix_timeout }}");
		var fifteen_refresh = "{{ users_turn }}".toLowerCase() == 'false'
		var draft_active = ("{{ picking_user }}" != "")
		setInterval(function () {
			if (fifteen_refresh && draft_active) {
				location.replace("/draft/");
			}
		}, 15000);
	</script>
	<script src="/static/js/timer.js"></script>
{% endblock %}