{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
    <h1>List of Free Agents</h1>
    <h2>Sorted by Points</h2>
    <table class="table">
        <th><td>Number</td><td>Name</td><td>Actions</td><td>Total Points</td></th>
        {% for team in free_agent_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/allianceManagement/teamDetail/{{ team.number }}">{{ team.number }}</a></td>
            <td>{{ team.name }}</td>
            <td><a href=""><img src="/static/icons/add.png"></a> <a><img src="/static/icons/flag_blue.png"></a></td>
            <td>{{ team.total_points }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}