{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
    <nav>
	  <ul class="pager">
	  	{% if page == 1 %}
	  		<li class="previous disabled"><a href="">&larr; Previous Page</a></li>
	    {% else %}
	    	<li class="previous">
	    		<a href="/draft/freeAgentList/{{ page - 1 }}">&larr; Previous Page</a>
	  		</li>
	    {% endif %}
	    {% if page == max_page %}
	   		<li class="next disabled"><a href="">Next Page &rarr;</a></li>
	    {% else %}
	    	<li class="next">
	    		<a href="/draft/freeAgentList/{{ page + 1 }}">Next Page &rarr;</a>
	    	</li>
	    {% endif %}
	  </ul>
	</nav>
    <h1>List of Free Agents</h1>
    {% if update_text != "" %}
        <div class="alert alert-{% if update_text == 'Good' %}success{% else %}danger{% endif %}">
            <button id="dismisswarning" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% if update_text == "Good" %}
                <b>Success!</b> Team added successfully
            {% else %}
                <b>Oh no!</b> {{ update_text }}
            {% endif %}
        </div>
    {% endif %}
    <h2>Sorted by Points</h2>
    <table class="table">
        <th><td>Number</td><td>Name</td><td>Actions</td><td>Total Points</td></th>
        {% for team in free_agent_list %}
        <tr>
            <td>{{ team.rank }}</td>
            <td><a href="/allianceManagement/teamDetail/{{ team.number }}">{{ team.number }}</a></td>
            <td>{{ team.name }}</td>
            <td><a href="/draft/pickUp/submitPick?team={{ team.number }}"><img src="/static/icons/add.png"></a> <a href=""><img src="/static/icons/flag_blue.png"></a></td>
            <td>{{ team.total_points }}</td>
        </tr>
        {% endfor %}
    </table>
    <nav>
	  <ul class="pager">
	  	{% if page == 1 %}
	  		<li class="previous disabled"><a href="">&larr; Previous Page</a></li>
	    {% else %}
	    	<li class="previous">
	    		<a href="/draft/freeAgentList/{{ page - 1 }}">&larr; Previous Page</a>
	  		</li>
	    {% endif %}
	    {% if page == max_page %}
	   		<li class="next disabled"><a href="">Next Page &rarr;</a></li>
	    {% else %}
	    	<li class="next">
	    		<a href="/draft/freeAgentList/{{ page + 1 }}">Next Page &rarr;</a>
	    	</li>
	    {% endif %}
	  </ul>
	</nav>

    <h1>Or Manually Select a Team</h1>
    <div id="team_selector">
		<h2>Enter a Team Number:</h2>
		<form action="/draft/pickUp/submitPick" method="post">
			Team Number:
			<input type="text" value="{{ default_team }}" name="team">
			<button type="submit"  class="btn btn-primary">Submit</button>
		</form>
	</div>
    <div id="Current Roster">
		<h2>Current Roster</h2>
		{% if roster|length > 0%}
                    <table class="table">
                        <tr><td></td><td>Number</td><td>Name</td><td>Drop</td><td>Total Points</td></tr>
                        {% for team in roster %}
                            <tr>
                                <td>
                                    {% if team.disabled == "True" %}
                                        <a class="category-tooltip" href="#" data-toggle="tooltip"
                                        data-original-title="This team is unable to be dropped because of its presence in the top 5">
                                            <img src="/static/icons/lock.png" alt="Team Locked"/>
                                        </a>
                                    {% endif %}
                                </td>
                                <td><a href="{{ team.detail_url }}">{{ team.number }}</a></td>
                                <td><a href="{{ team.detail_url }}">{{ team.name }}</a></td>
                                <td>
                                    {% if team.disabled == 'True' %}
                                        <a class="category-tooltip" href="#" data-toggle="tooltip"
                                            data-original-title="This team is unable to be dropped because of its presence in the top 5">
                                        <span href="" class="text-disabled"> Drop</span></a>
                                    {% else %}
                                        <a href="#"  data-toggle="modal" data-target="#drop_team_modal_{{ team.number }}">
                                        <img src="/static/icons/delete.png" alt="Drop Team"/> Drop</a>
                                    {% endif %}
                                </td>
                                <td><a href="{{ team.detail_url }}">{{ team.total_points }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    There are no teams on your roster
        {% endif %}
	</div>

</div>
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $(".category-tooltip").tooltip({
        placement : 'left'
    });
});
</script>
{% endblock %}