{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
	<h2>Getting Started</h2>
	<ol>
		<li>The first thing to do is to get in a league. A league is a collection of players that must draft from the same pool of teams. The members of a league compete against each other to score the most points possible. To get in a league, you have two options: <a href="/leagueManagement/showLeagues">Join an Existing league</a> or <a href="/leagueManagement/createLeague">Create one yourself</a>. A single account may only be a member of one league at a time.</li>
		<li>Once you are a member of a league, there isn't much you can do untill after the draft has completed. The draft is a one-time setup procedure that all leagues must undergo. At the begining of the draft, players are shuffled randomly. This determines the order that players can pick from teams accross all of FIRST robotics. The goal is to select a team that will score as many points as possible (See points below). Only the league commisioner (person who created the league) can initiate the draft. Once the draft has begun, users have only a couple of minutes of time to make a desicion and select a team.</li>
		<li>Upon conclusion of the draft, players will be able to select a limited number of their teams for each week of the competition season to be listed as active teams. Teams only give the players points if they are on the active teams list when they scored those points. In other words, for every week in the competition season, each player must select a couple teams to score points with. The teams left on the bench earn the player zero points.</li>
		<li>The ability to modify your active lineup will become locked the wednesday before the competion. At this point, whatever teams you have selected will earn you points throughout the weekend.</li>
	</ol>
	<h3>Points</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>Points are given according to <a href="/help/points">this document</a>. A summary of the allocation of points is included below</p>
		</div>
		<table class="table">
			<tr><td>Qualification Wins</td><td>2 points each</td></tr>
			<tr><td>Qualification Ties</td><td>1 point each</td></tr>
			<tr><td>Qualification Losses</td><td>0 points each</td></tr>
			<tr><td>Progress in elimination</td><td>Didn't Qualify: 0 points <br/> Quarterfinalist: 4 points <br/>Semifinalist: 10 points <br/> Finalist: 20 points <br/> Event Winner: 30 points</td></tr>
			<tr><td>Seed</td><td>1st: 20 points <br/> 2nd-3rd: 12 points <br/>4th-8th: 6 points <br/> 9th-12th: 3 points <br/> 13th-16th: 2 points</td></tr>
			<tr><td>Awards</td><td>See document</td></tr>
		</table>
	</div>
</div>
{% endblock %}