<!DOCTYPE html>
<html>{% autoescape true %}
	<head>
	</head>
  <body>
  	<div id="logout">
		<div>Loggen in as {{ user }}, <a href="{{ logout_url }}">Log out</a></div>
		<div>{% if league_name == ""%}Not a member of a league - <a href="/leagueManagement/createLeague">Click to Create one!</a>{% endif %}
			 {% if league_name != ""%}League: {{ league_name }} - <a id="leave_league" href="/leagueManagement/leaveLeague">Click to leave</a>{% endif %}</div>
	</div>
	<hr>
	<h1>Fantasy-FRC Alpha 0.0.1</h1>
	<p>
		<a href="/leagueManagement/createLeague">Create a League</a></br>
		<a href="/allianceManagement/editAlliance">Edit your lineup</a></br>
		<a href="/draft/">Go to the draft screen</a></br>
	</p>
  {% endautoescape %}</body>
</html>
