{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Week {{ week_number }}{% endblock %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/allianceManagement/viewAlliance">View Alliance</a></li>
		<li class="active">Week {{ week_number }}</li>
	</ol>

	<nav>
	  <ul class="pager">
	  	{% if week_number == 1 %}
	  		<li class="previous disabled"><a href="">&larr; Previous Week</a></li>
	    {% else %}
	    	<li class="previous">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number - 1 }}">&larr; Previous Week</a>
	  		</li>
	    {% endif %}
	    {% if week_number == 6 %}
	   		<li class="next disabled"><a href="">Next Week &rarr;</a></li>
	    {% else %}
	    	<li class="next">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number + 1 }}">Next Week &rarr;</a>
	    	</li>
	    {% endif %}
	  </ul>
	</nav>

    {% for team_lists in team_listss %}
        {% set opponent_loop = loop %}
        {% if loop.first %}
            <h1>Your Lineup</h1>
        {% else %}
            <hr/>
            <h1>{{ opponent_name }}'s Lineup</h1>
        {% endif %}
        <div id="team_list">
                {% for list in team_lists %}
                {% set listloop = loop %}
                    <h2>{% if listloop.first %}
                        Active:
                        {% else %}
                        Bench:
                        {% endif %}
                    </h2>
                {% if list %}
                    <table class="table">
                    <tr><td>Team</td><td>Points</td></tr>
                    {% for team in list %}
                    <tr>
                        <td>
                            <a href="/allianceManagement/teamDetail/{{team.number}}">{{ team.number }}</a>
                        </td>
                        <td>
                            <a href="/allianceManagement/teamDetail/{{ team.number }}#pointbreakdown">{{ team.total_points }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if listloop.first %}
                        <tr><td></td>
                            <td>Total: {{ point_totals[opponent_loop.index0] }}
                        </td></tr>
                    {% endif %}
                    </table>
                {% else %}
                    <p>No teams in this list</p>
                {% endif %}
                {% endfor %}
        </div>
    {% endfor %}

	<nav>
	  <ul class="pager">
	  	{% if week_number == 1 %}
	  		<li class="previous disabled"><a href="">&larr; Previous Week</a></li>
	    {% else %}
	    	<li class="previous">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number - 1 }}">&larr; Previous Week</a>
	  		</li>
	    {% endif %}
	    {% if week_number == 6 %}
	   		<li class="next disabled"><a href="">Next Week &rarr;</a></li>
	    {% else %}
	    	<li class="next">
	    		<a href="/allianceManagement/viewAlliance/{{ week_number + 1 }}">Next Week &rarr;</a>
	    	</li>
	    {% endif %}
	  </ul>
	</nav>
</div>
{% endblock %}