{% extends "/templates/base.html" %}
{% block content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Pick up</li>
	</ol>

	<div id="Current Roster">
		<a href="/allianceManagement/editAlliance"><h2>Current Roster</h2></a>
		<table class="table">
			{% for team in roster %}
				<tr>
					<td>{{ team }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div id="team_selector">
		<h2>Pick Up Team:</h2>
		<p>{{ update_text }}</p>
		<form action="/pickUp/submitPick?Choice_key={{ Choice_key }}" method="post">
			Team Number:
			<input type="text" value="" name="team">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div id="league_display">
		<h2>League Rosters:</h2>
		<table>
		{% for row in league_table %}
		<tr>
			<td>{{ row.player_name }}</td>
			<td>{{ row.player_team }}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}