<!DOCTYPE html>
<html>{% autoescape true %}
	<head>
	</head>
  <body>
  	<div id="logout">
  		<div><a href="/">Home</a></div>
		<div>Loggen in as {{ user }}, <a href="{{ logout_url }}">Log out</a></div>
		<div>{% if league_name == ""%}Not a member of a league - <a href="/leagueManagement/createLeague">Click to Create one!</a>{% endif %}
			 {% if league_name != ""%}League: {{ league_name }} - <a id="leave_league" href="/leagueManagement/leaveLeague">Click to leave</a>{% endif %}</div>
	</div>
	<hr>
	<div id="Current Roster">
		<a href="/allianceManagement/editAlliance"><h2>Current Roster</h2></a>
		<table><tr>
			{% for team in roster %}
				<td>{{ team }}</td>
			{% endfor %}
		</tr></table>
	</div>
	<div id="team_selector">
		<h2>Pick Up Team:</h2>
		<p>{{ update_text }}</p>
		<form action="/pickUp/submitPick?Choice_key={{ Choice_key }}" method="post">
			Team Number:
			<input type="text" value="" name="team">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div id="league_display">
		<h2>League Rosters:</h2>
		<table>
		{% for row in league_table %}
		<tr>
			<td>{{ row.player_name }}</td>
			<td>{{ row.player_team }}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
  {% endautoescape %}</body>
</html>
