<!DOCTYPE html>
<html>{% autoescape true %}
	<head>
	</head>
  <body>
  	<div id="logout">
		<div>Loggen in as {{ user }}, <a href="{{ logout_url }}">Log out</a></div>
		<div>{% if league_name == ""%}Not a member of a league - <a href="/leagueManagement/createLeague">Click to Create one!</a>{% endif %}
			 {% if league_name != ""%}League: {{ league_name }} - <a id="leave_league" href="/leagueManagement/leaveLeague">Click to leave</a>{% endif %}</div>
	</div>
	<hr>
	<h1><a href="/allianceManagement/editAlliance">Edit Alliance</a>/Manage Team</h1>
	<a href="{{ tba_team_url }}" target="_blank"><h2>{{ team_name }}</h2></a>
	<div id="team_data">
			<h2>Team Schedule:</h2>
			<form id="active_selection" action="/allianceManagement/updateAlliance?Choice_key={{ Choice_Key }}" method="post">
			<table>
			<tr><td></td><td>Week1</td><td>Week2</td><td>Week3</td><td>Week4</td><td>Week5</td><td>Week6</td></tr>
			<tr>
				<td>Schedule:</td>
				{% for week in team_data.schedule %}
					{% if week.competition_name %}
						<td class="competition-week-table-cell">
							<a href="{{ week.tba_url }}" target="_blank">{{ week.competition_name }}</a>
						</td>
					{% else %}
						<td class="by-week-table-cell">
							Not Competing
						</td>
					{% endif %}
				{% endfor %}
			</tr>
			<tr>
				<td>Points:</td>
				{% for week in team_data.schedule %}
					<td>
						{{ week.points }}
					</td>
				{% endfor %}
			</tr>
			</table>
			<input type="hidden" name="Requestor" value="{{ team_data.number }}">
			<input type="submit" value="Save">
			</form>
	</div>
  {% endautoescape %}</body>
</html>
