{% extends "/templates/base.html" %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Team Detail</li>
	</ol>

	<a href="{{ tba_team_url }}" target="_blank"><h2>{{ team_name }}</h2></a>
	<div id="team_data">
			<h2>Team Schedule:</h2>
			<table class="table">
			<th><td>Week 1</td><td>Week 2</td><td>Week 3</td><td>Week 4</td><td>Week 5</td><td>Week 6</td><td>Week 7</td></th>
			<tr>
				<td>Event</td>
				{% for week in team_data.schedule %}
					{% if week.competition_name %}
						<td class="competition-week-table-cell">
							<a href="{{ week.tba_url }}" target="_blank">{{ week.competition_name }}</a>
						</td>
					{% else %}
						<td class="by-week-table-cell">
							<i>Not Competing</i>
						</td>
					{% endif %}
				{% endfor %}
			</tr>
			<tr>
				<td>Points</td>
				{% for week in team_data.schedule %}
					<td>
						{{ week.points }}
					</td>
				{% endfor %}
			</tr>
			</table>
	</div>
	<a name="pointbreakdown"></a>
	<h2>Point Breakdown</h2>
	<table class="table"> 
		<th>{% for week in team_data.schedule %}
				{% if week.competition_name %}
					<td><a href="{{ week.tba_url }}" target="_blank">{{ week.competition_name }}</a></td>
				{% endif %}
			{% endfor %}
			<td>Total</td></th>
		{% for category in pointbreakdown %}
			<tr>  
				{% set categoryloop = loop %}
				{% for item in category %}
					{% if loop.first and not categoryloop.last %}
						<td width="300px">{{ item.title }} 
							<a class="category-tooltip" href="" data-toggle="tooltip" 
							data-original-title="{{ item.explanation }}">
								?
							</a>
						</td>
					{% else %}
						{% if item.tooltip %}
							<td>
								<a class="category-tooltip" href="" data-toggle="tooltip" 
								data-original-title="{{ item.tooltip }}">
									{{ item.points }} 
								</a>
							</td>
						{% else %}
							<td>{% autoescape false %}
								{{ item }}
							</td>{% endautoescape %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $(".category-tooltip").tooltip({
        placement : 'right'
    });
});
</script>
{% endblock %}