{% extends "/templates/base.html" %}

{% block content %}
<div class="container">
	<h1><a href="/allianceManagement/editAlliance">Edit Alliance</a>/Manage Team</h1>
	<a href="{{ tba_team_url }}" target="_blank"><h2>{{ team_name }}</h2></a>
	<div id="team_data">
			<h2>Team Schedule:</h2>
			<table class="table">
			<tr><td></td><td>Week1</td><td>Week2</td><td>Week3</td><td>Week4</td><td>Week5</td><td>Week6</td></tr>
			<tr>
				<td>Schedule:</td>
				{% for week in team_data.schedule %}
					{% if week.competition_name %}
						<td class="competition-week-table-cell">
							<a href="{{ week.tba_url }}" target="_blank">{{ week.competition_name }}</a>
						</td>
					{% else %}
						<td class="by-week-table-cell">
							Not Competing
						</td>
					{% endif %}
				{% endfor %}
			</tr>
			<tr>
				<td>Points:</td>
				{% for week in team_data.schedule %}
					<td>
						{{ week.points }}
					</td>
				{% endfor %}
			</tr>
			</table>
	</div>
</div>
{% endblock %}