{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">
	<h1>Thanks to everyone that made this project possible:</h1>
	<ul>
		<li><h2><a href="http://getbootstrap.com/">Bootstrap</a></h2>
			<p>Bootstrap is a wonderful CSS framework. Thank you for doing the heavly lifting so I don't have to.</p>
		</li>
		<li><h2><a href="https://cloud.google.com/appengine/docs">Google App Engine</a></h2>
			<p>Google App Engine is a service that allows developers to create highly scaleable applications very easily.</p>
		</li>
		<li><h2><a href="http://www.thebluealliance.com">The Blue Alliance</a></h2>
			<p>Thanks to the whole team at the Blue Alliance for the API, for the access to your source code, and for the inspiration to make my dream become a reality.</p>
		</li>
		<li><h2><a href="http://www.chiefdelphi.com/forums/forumdisplay.php?f=128">Chief Delphi Fantasy FIRST</a></h2>
			<p>Thanks to the folks at the Fantasy FIRST forum in chief. I hope you don't mind that I stole your points system.</p>
		</li>
	</ul>
</div>
{% endblock %}