{% extends "/templates/base.html" %}

{% block title %}Fantasy FRC - Main{% endblock %}

{% block content %}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/allianceManagement/viewAlliance">Alliance Portal</a></li>
        <li class="active">Watchlist</li>
    </ol>

    <h2>Watchlist</h2>
    {% if update_text != "" %}
        <div class="alert alert-{% if update_text == 'Good' %}success{% else %}danger{% endif %}">
            <button id="dismisswarning" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% if update_text == "Good" %}
                <b>Success!</b> Team added successfully
            {% else %}
                <b>Oh no!</b> {{ update_text }}
            {% endif %}
        </div>
    {% endif %}
    <h3>Sorted by Points</h3>
    <table class="table">
        <tr><td>Number</td><td>Name</td><td>Current Owner</td><td>Actions</td><td>Total Points</td></tr>
        {% for team in watch_list %}
        <tr>
            <td><a href="/allianceManagement/teamDetail/{{ team.number }}">{{ team.number }}</a></td>
            <td>{{ team.name }}</td>
            <td>{{ team.owner }}</td>
            <td><a href="/draft/pickUp/submitPick?team={{ team.number }}"><img src="/static/icons/add.png"></a>
                <a href="/draft/watchList/update/?action=drop&team={{ team.number }}"><img src="/static/icons/flag_blue_delete.png"></a></td>
            <td>{{ team.total_points }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="container">
        <div class="row">
            <div class="addto col-md-12">
                <h4>Adding a Team to Your Watchlist</h4>
                    <ul>
                        <li> <h5>Using the free agent list</h5> </li>
                        The easiest way to add a team to your watchlist is to find it in the <a href="/draft/freeAgentList/">free agent list</a> and click its flag (<img src="/static/icons/flag_blue.png">).
                        <li> <h5>Manual Entry</h5> </li>
                        You can also add a team to your watchlist by typing it's number below.
                        <div id="team_selector">
                    		<form action="/draft/watchList/update/" method="get">
                    			Team Number:
                    			<input type="text" value="{{ default_team }}" name="team">
                                <input type="hidden" value="add" name="action">
                    			<button type="submit"  class="btn btn-primary">Submit</button>
                    		</form>
                    	</div><!--/team_selector-->
                    </ul>
            </div><!--/addto-->
        </div><!--/row-->
    </div><!--/conatiner-->
    <div id="Current Roster">
		<h3>Current Roster</h3>
        A copy of your current roster is listed for convenience
		{% if roster|length > 0%}
                    <table class="table">
                        <tr><td></td><td>Number</td><td>Name</td><td>Drop</td><td>Total Points</td></tr>
                        {% for team in roster %}
                            <tr>
                                <td>
                                    {% if team.disabled == "True" %}
                                        <a class="category-tooltip" href="#" data-toggle="tooltip"
                                        data-original-title="This team is unable to be dropped because of its presence in the top 5">
                                            <img src="/static/icons/lock.png" alt="Team Locked"/>
                                        </a>
                                    {% endif %}
                                </td>
                                <td><a href="{{ team.detail_url }}">{{ team.number }}</a></td>
                                <td><a href="{{ team.detail_url }}">{{ team.name }}</a></td>
                                <td>
                                    {% if team.disabled == 'True' %}
                                        <a class="category-tooltip" href="#" data-toggle="tooltip"
                                            data-original-title="This team is unable to be dropped because of its presence in the top 5">
                                        <span href="" class="text-disabled"> Drop</span></a>
                                    {% else %}
                                        <a href="#"  data-toggle="modal" data-target="#drop_team_modal_{{ team.number }}">
                                        <img src="/static/icons/delete.png" alt="Drop Team"/> Drop</a>
                                    {% endif %}
                                </td>
                                <td><a href="{{ team.detail_url }}">{{ team.total_points }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    There are no teams on your roster
        {% endif %}
	</div>

</div>
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $(".category-tooltip").tooltip({
        placement : 'left'
    });
});
</script>
{% endblock %}